body{
    margin: 0 auto;
}
input{
    display: block;
    margin-bottom: 8px;
}

.input-btn{
    background-color: tomato;
    border: none;
    width: 100px;
    padding: 8px;
    margin: 4px;
    color: white;
    border-radius:4px ;
}
table{
    border-collapse: collapse;
    margin-left: 16px;
}

 td, th{
    border: 1px solid rgb(200, 180, 160);
    padding: 8px;
}

.main-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.child-div{
    background-color: blue;
    margin: 4px;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 24px;
    width: 60px;
}

.main-div2{
    display: flex;
}

.child2{
    border: 1px solid gray;
    text-align: center;
    color: white;
    font-size: 24px;
    width: 600px;
    margin: 16px;
    display: flex;
}
.child3{
    color: red;
    margin: 4px ;
    background-color: brown;
    padding: 40px;
    
}


.child4{
    color: red;
    margin: 4px ;
    background-color: brown;
    padding: 40px;
}

.main-nav{
    background-color: tomato;
}

.navigation-list{
    display: flex;
    margin: 4px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
    margin: 8px;
    padding: 4px;
    color: white;
}

@media (max-width:360px ){
    .navigation-list{
        flex-direction: column;
    }
    
}
@media (max-width:550px){
    .navigation-list{
        flex-direction: column;
    }
    
}